doctype html
html
  head
    title #{titlePage}
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css")

    //- viewerjs
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.css")  

    link(rel="stylesheet", href="/css/style.css")  
    script(src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js")
  body
    include ../partials/header.pug

    block content

    a.chat-button(href="/chat")
      i(class="chat-icon") Chat

    include ../partials/footer.pug



    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")

    script(src="/js/script.js")
