footer(class="footer")
  .footer__top  
    .footer__inner
      .row
        div(class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12")
          .footer__item 
            .footer__title
              h4 Giới thiệu
            .footer__content 
              p.
                Toàn Decor mang đến cho khách hàng những sản phẩm cây cảnh trang trí độc đáo, từ cây nội thất, cây văn phòng đến các món quà cây xanh ý nghĩa. Chúng tôi đồng hành cùng bạn trong việc tạo không gian xanh và lựa chọn cây phù hợp với phong cách riêng.
            .footer__image
              img(src="/images/logo_bct.webp", alt="")
        div(class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12")
            .footer__item 
              .footer__title
                h4 Liên kết
              .footer__content 
                p Tìm kiếm
                p Giới thiệu
                p Chính sách đổi trả
                p Chính sách bảo mật
                p Điều khoản dịch vụ
                p Liên hệ
        div(class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12")
            .footer__item 
              .footer__title 
                h4 Thông tin liên hệ 
              .footer__content
                .footer__part
                  .footer__icon
                    i.bx.bx-map
                  p.
                    CS1: Số 123 Phố Xanh, Phường Lá, Quận Cây, Hà Nội / CS2: Số 45 Ngõ Vườn, Phường Thảo, Quận Hoa, Hà Nội
                .footer__part
                  .footer__icon
                    i.bx.bx-phone
                  p 0909.123.456
                .footer__part
                  .footer__icon
                    i.bx.bx-send
                  p contact@toandecor.vn
        div(class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12")
            .footer__item 
              .footer__title 
                h4 Fanpage
  .footer__bottom
    .row 
      .col-12 
        p Copyright © 2025 Toàn Decor. Website minh họa, Powered by Haravan
