footer(class="footer")
  .footer__top  
    .footer__inner
      .row
        div(class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12")
          .footer__item 
            .footer__title
              h4 giới thiệu 
            .footer__content 
              p.
                Toàn decor mang đến cho quý khách hàng dịch vụ mua bán cây xanh trang trí nội thất, văn phòng..., cung cấp các dịch vụ tư vấn, đồng hành cùng khách hàng lên ý tưởng về quà tặng cây xanh, thiết kế văn phòng... phù hợp với hình ảnh cá nhân, doanh nghiệp khách hàng.
            .footer__image
              img(src="/images/logo_bct.webp", alt="")
        div(class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12")
            .footer__item 
              .footer__title
                h4 Liên kết
              .footer__content 
                p Tìm kiếm
                p giới thiệu 
                p Chính sách đổi trả
                p Chính sách bảo mật 
                p Điều khoản dịch vụ
                p Liên hệ
        div(class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12")
            .footer__item 
              .footer__title 
                h4 Thông tin liên hệ 
              .footer__content
                .footer__part
                  .footer__icon
                    i.bx.bx-map
                  p.
                    CS1: Số 93 ngõ 185 Chùa Láng, Láng Thượng, Đống Đa, Hà Nội / CS2: Số 5 Nguyễn Ngọc Doãn, Quang Trung, Đống Đa, Hà Nội
                .footer__part
                  .footer__icon
                    i.bx.bx-phone
                  p 0934.460.818
                .footer__part
                  .footer__icon
                    i.bx.bx-send
                  p admin@toandecor.vn
        div(class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12")
            .footer__item 
              .footer__title 
                h4 Fanpage
  .footer__bottom
    .row 
      .col-12 
        p Copyright © 2025 Toan decor. Powered by Haravan
      
              