header(class='header')
  .row
    .col-12 
      .header__inner 
        .header__logo 
          img(src="/images/logo.png", alt="")
        ul.header__nav
          li <a href='/'>Trang chủ </a>
          li <a href='/product'>Sản phẩn</a>
          li <a href='/service'>Dịch vụ</a>
          li <a href='/blog'>Blog</a>
          li <a href='/about'>Giới thiệu</a>
        .header__box
          .header__icon 
            i(class="bi bi-search")
          .header__icon
            i(class="bi bi-person-circle")
          .header__icon
            i(class="bi bi-bag")
            
  
            
              
