include ../mixins/sub-menu.pug

header.header
  .top-banner Miễn phí vận chuyển với đơn hàng trên 500K
  header#mainHeader.main-header
    .header-container
      .logo
        img(src="/images/logo.png", alt="Logo")

      form.search-box(action="/search", method="GET")
        input(type="text", name="keyword", placeholder="Tìm kiếm sản phẩm..." value=keyword)
        button(type="submit")
          i.bx.bx-search


      .header-right
        .account
          i.bx.bx-user
          .account-text
            a(href="#") Đăng nhập / Đăng ký
            br
            a(href="#") 
              | Tài khoản của tôi 
              i.bx.bx-chevron-down
        .cart
          a(href="#")
            i.bx.bx-shopping-bag
            span Giỏ hàng
            span.cart-count #{miniCart ? miniCart.totalQuantityInCart : 0}


    nav.main-menu
      ul
        li
          a(href="/") Trang chủ
        li.sub-menu
          -const pathProduct = '/product'
          a(href='/product') 
            span  Sản phẩm
            i.bx.bx-chevron-down
          ul.dropdown
              +sub-menu(categories, pathProduct)
        li
          a(href='/service') 
            | Dịch vụ 
            i.bx.bx-chevron-down
        li
          a(href="#") 
            | Blog 
            i.bx.bx-chevron-down
        li
          a(href="#") Giới thiệu



  
  
            
              
