include ../mixins/sub-menu.pug

header.header
  .row
    .col-12 
      .header__inner 
        .header__logo 
          img(src="/images/logo.png", alt="Logo")
        ul.header__nav
          li
            a(href='/') Trang chủ
          li.sub-menu
            -const pathProduct = '/product'
            a(href='/product') Sản phẩm
            ul.dropdown
                +sub-menu(categories, pathProduct)
          li
            a(href='/service') Dịch vụ
          li
            a(href='/blog') Blog
          li
            a(href='/about') Giới thiệu
        .header__box
          .header__icon
            i.bx.bx-search
          .header__icon
            i.bx.bx-user-circle
          .header__icon
            i.bx.bx-shopping-bag

            
  
            
              
