.hero
  .row 
    .col-12 
      .hero__content 
        .hero__thumbnail 
          img(src="/images/thiet_ke_khong_gian_xanh.webp", alt="")
          div(class="control prev")
            i(class="fa-solid fa-chevron-left")
          div(class="control next")
            i(class="fa-solid fa-chevron-right")
        .hero__list
          .hero__image
            img(src="/images/thiet_ke_khong_gian_xanh.webp", alt="")
          .hero__image 
            img(src="/images/banner-02.webp", alt="")
          .hero__image 
            img(src="/images/banner-03.webp", alt="")

  
      
  