@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

ul,
li {
  list-style-type: none;
}

:root {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;
  --inter: 'Inter', sans-serif;

  --light: #f9f9f9;
  --purple: #7c3aed;
  --sky: #4e73df;
  --blue: #3c91e6;
  --grass: #3ce68d;
  --green: #228b22;
  --light-green: #d1fae5;
  --yellow: #facc15;
  --light-yellow: #fef9c3;
  --pink: #f65a6f;
  --dark-pink: #e0485f;
  --orange: #f58a3c;
  --dark-red: #dc2626;
  --red: #e64a3c;
  --light-red: #fee2e2;
  --light-blue: #cfe8ff;
  --light-white: #f9fafb;
  --grey: #eee;
  --dark: #342e37;
  --white: white;
  --gray: #333;
  --dark-gray: #666;
  --light-gray: #888;
  --dark-grey: #ddd;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
  --dark-grey: #aaaaaa;
  --dark-gray: #f5f5f5;
  --gray: #ccc;
  --light-gray: #ddd;
  --white: #f0f0f0;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

/* Sidebar */

.sidebar {
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--inter);
  transition: 0.3s ease;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  scrollbar-width: none;
}
.sidebar::--webkit-scrollbar {
  display: none;
}

.sidebar a {
  outline: none;
  border: none;
}

.sidebar.hide {
  width: 60px;
}

.sidebar__logo {
  height: 60px;
  width: 160px;
}

body.dark .sidebar__logo {
  visibility: hidden;
}

.sidebar.hide .sidebar__logo {
  visibility: hidden;
}

.sidebar__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sidebar__menu {
  width: 100%;
  margin-top: 48px;
}

.sidebar__menu .menu-item {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  margin-right: 6px;
  padding: 4px;
  border-radius: 48px 48px 48px 48px;
  transition: background-color 0.3s;
}

.sidebar__menu .menu-item.active {
  background: var(--grey);
  position: relative;
}

.sidebar__menu .menu-item .trigger {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

.sidebar__menu .menu-item .trigger .left {
  display: flex;
  align-items: center;
  /* gap: 8px; khoảng cách giữa icon và span */
}
.sidebar__menu .menu-item .trigger .bx-chevron-right {
  display: flex;
  align-items: center;
}

.sidebar__menu.top .menu-item .trigger:hover,
.sidebar__menu.top .menu-item.active .trigger {
  color: var(--blue);
}

.sidebar__menu .submenu {
  display: none;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 6px;
}

.sidebar__menu .menu-item.active + ul.submenu {
  display: flex;
}

.sidebar__menu .submenu li {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 48px;
  font-size: 14px;
  color: var(--dark);
}
.sidebar__menu .submenu li a {
  color: var(--dark);
}

.sidebar__menu .submenu li:hover,
.sidebar__menu .submenu li.active {
  background-color: var(--grey);
}

.sidebar__menu .submenu li.active a {
  color: var(--blue);
}

.sidebar__menu .submenu .bx {
  font-size: 10px;
}

.sidebar.hide .sidebar__menu .menu-item .trigger {
  /* border-radius: 48px; */
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}

.sidebar__menu .menu-item .trigger.logout {
  color: var(--red);
}

.sidebar__menu .menu-item .trigger .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.sidebar__menu .submenu .text,
.sidebar__text {
  margin-left: 5px;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
/* end  Sidebar */

/* content */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

.sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}
/* end content */

/* nav */

#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav .form-placeholder {
  width: 400px; /* hoặc cùng max-width như form cũ */
  margin-right: auto;
}

#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
  color: var(--dark);
}

#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

#content nav .notification {
  font-size: 20px;
  position: relative;
}

#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
  margin: 0;
}
#content nav .switch-mode::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all 0.3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}
/* end nav */

/* SECTION PRODUCT */

/* section head */
.filter-section,
.action-section {
  font-family: var(--inter);
  margin: 4px;
  padding: 24px;
  background: var(--light);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

/* filter */
.action-section h2,
.filter-section h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 16px;
}

.filter-section .filter-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.filter-section .filter-wrap,
.filter-section .filter-actions {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}

.filter-section input,
.filter-section select {
  padding: 8px 12px;
  border: 1px solid var(--dark-grey);
  border-radius: 6px;
  min-width: 160px;
}

/* section from search */
#form-search {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#form-search .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

#form-search .form-input input {
  flex: 1;
  padding: 0 16px;
  border: none;
  border-radius: 36px 0 0 36px;
  background: var(--grey);
  color: var(--dark);
  outline: none;
  height: 100%;
}

#form-search .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}
/*end section from search */

/* action */
.action-section .action-wrap {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.filter-section .filter-header .btn-submit,
.dropdown-btn,
.button-group .button {
  background: var(--blue);
  color: var(--light);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.filter-section .filter-header .btn-submit:hover,
.button-group .button:hover {
  background: var(--sky);
}

/* section dropdown */
.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown-btn:hover {
  background: var(--sky);
}

.dropdown-content {
  position: absolute;
  top: 60px;
  left: 0;
  width: 220px;
  padding: 10px 0;
  background: var(--light-white);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  z-index: 9999;
}

.dropdown-content.show {
  display: flex;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 14px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s ease, transform 0.2s ease;
}

.dropdown-item:hover {
  background: rgba(166, 108, 255, 0.15);
  transform: translateX(3px);
}

.dropdown-item i {
  font-size: 20px;
}

/* section dropdown */
/* section head */

/* section table*/
.permission-table {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  /* background: var(--white); */
  color: var(--dark);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--light-blue);
  vertical-align: middle;
}

thead th {
  background-color: var(--grey);
  font-weight: 600;
}

.select-all td {
  /* background-color: var(--dark-grey); */
  font-weight: 500;
}

.section-header td {
  background-color: var(--grey);
  font-weight: bold;
  font-size: 15px;
  color: var(--gray);
}

input[type='checkbox'] {
  transform: scale(1.2);
}

.text-danger {
  color: var(--red);
  font-weight: bold;
}

td img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  object-fit: cover;
}

.status-active {
  padding: 4px 10px;
  border-radius: 12px;
  background-color: var(--light-green);
  color: var(--green);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.status-inactive {
  padding: 4px 10px;
  border-radius: 12px;
  background-color: var(--light-red);
  color: var(--red);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.action-links span {
  cursor: pointer;
}

.price {
  color: var(--dark);
}

.price-special {
  color: var(--blue);
  font-weight: 600;
  margin-left: 6px;
}
.action-links a {
  margin-right: 8px;
  font-size: 12px;
  color: var(--blue);
  text-decoration: none;
}

/* input in table */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

table .square-number {
  width: 30px;
  height: 30px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--dark);
  border-radius: 4px;
  box-sizing: border-box;
}
/* input in table */

/* end section table */

/* pagination */
.pagination {
  margin-top: 40px;
}
.pagination .page-link {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
  border-radius: 6px;
  transition: 0.2s ease;
}

.pagination .page-item.active .page-link {
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--light);
}

.pagination .page-item.disabled .page-link {
  cursor: not-allowed;
  opacity: 0.5;
}

/* end pagination */

/* modal */
.modal {
  margin: 0;
  font-family: var(--inter);
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 9999;
  display: none;
}

.modal-content {
  background-color: var(--white);
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInModal 0.4s ease-out forwards;
}

@keyframes fadeInModal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-content .icon {
  font-size: 50px;
  color: var(--yellow);
  margin-bottom: 15px;
}

.modal-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--gray);
}

.modal-content p {
  font-size: 16px;
  margin-bottom: 25px;
  color: var(--gray);
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-confirm {
  background-color: var(--pink);
  color: var(--light);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-cancel {
  background-color: var(--blue);
  color: var(--light);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-confirm:hover {
  background-color: var(--dark-pink);
}

.btn-cancel:hover {
  background-color: var(--sky);
}

/*end modal */

/* alert */

#alertBox {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 100000;
}

.alert-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  min-width: 280px;
  z-index: 99999;
  animation: show-alert 4s ease forwards;
  margin-bottom: 10px;
}

.alert-container.success {
  background-color: var(--light-green);
  border-left: 5px solid var(--grass);
}

.alert-container.warning {
  background-color: var(--light-yellow);
  border-left: 5px solid var(--yellow);
}
.alert-container.error {
  background-color: var(--light-red);
  border-left: 5px solid var(--red);
}

.alert-container.success .alert-icon {
  font-size: 24px;
  color: var(--grass);
}

.alert-container.warning .alert-icon {
  font-size: 24px;
  color: var(--yellow);
}

.alert-container.error .alert-icon {
  font-size: 24px;
  color: var(--red);
}

.alert-container .alert-content {
  flex: 1;
}

.alert-container .alert-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.alert-container .alert-message {
  font-size: 14px;
  color: var(--gray);
}

.alert-container .alert-close {
  font-size: 20px;
  cursor: pointer;
  color: var(--dark-grey);
}

.alert-container .alert-close:hover {
  color: var(--dark);
}

.alert-container span {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  animation: slide var(--duration, 5s) ease forwards;
}

.alert-container.success span {
  background: var(--grass);
}

.alert-container.warning span {
  background: var(--yellow);
}

.alert-container.error span {
  background: var(--red);
}

@keyframes slide {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@keyframes show-alert {
  0% {
    transform: translateX(100%);
  }

  25% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10%);
  }
}

@keyframes hide-alert {
  0% {
    transform: translateX(-10%);
  }

  25% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(200%);
  }
}

.alert-container.hide {
  animation: hide-alert 0.5s ease forwards;
}
/* end alert */

/* END SECTION ADMIN PRODUCT*/

/* Create Product */

.form-wrapper .form-block {
  font-family: var(--inter);
  margin: 20px;
  background: var(--light);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  padding: 18px 32px;
}

.form-wrapper .form-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.form-wrapper .form-header h2 {
  font-size: 24px;
  color: var(--dark);
}
.form-wrapper .form-header p {
  font-size: 14px;
  color: var(--gray);
  margin: 0;
}

.form-wrapper .form-header .form-actions {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.form-wrapper .form-actions button {
  padding: 10px 18px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s ease;
}
.form-wrapper .btn-cancel {
  background: var(--dark-grey);
  color: var(--dark);
}
.form-wrapper .btn-draft {
  background: var(--light-blue);
  color: var(--purple);
}
.form-wrapper .btn-submit {
  background: var(--blue);
  color: var(--light);
  font-weight: 600;
}

.form-wrapper .btn-cancel:hover,
.form-wrapper .btn-submit:hover {
  background: var(--sky);
}

.form-wrapper .form-group {
  margin-bottom: 24px;
}
.form-wrapper .form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--dark);
  margin-bottom: 8px;
}
.form-wrapper .form-group label span {
  color: var(--gray);
  font-weight: 400;
  font-size: 13px;
}
.form-wrapper .form-group input,
.form-wrapper .form-group select,
.form-wrapper .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--dark-grey);
  border-radius: 8px;
  font-size: 15px;
  color: var(--dark);
  background: transparent;
}

.form-wrapper .form-group textarea {
  resize: vertical;
  height: 150px;
}

.form-wrapper .radio-group {
  display: flex;
  gap: 20px;
}
.form-wrapper .form-radio label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--gray);
  margin: 0;
}

.form-wrapper .radio-group .form-radio {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}

/*upload image */
.form-wrapper .form-image {
  border: 2px dashed var(--dark-grey);
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.form-wrapper .form-image:hover {
  border-color: var(--purple);
}

.form-wrapper .form-image input[type='file'] {
  display: none;
}
.form-wrapper .form-image label {
  display: block;
  position: relative;
  background-color: var(--blue);
  color: var(--light);
  font-size: 18px;
  text-align: center;
  width: 300px;
  padding: 18px 0;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
}
.form-wrapper .form-image label:hover {
  background: var(--purple);
}
.form-wrapper .form-image label i {
  margin-right: 10px;
}
.form-wrapper .form-image p {
  text-align: center;
  margin: 20px 0 30px 0;
}

.form-wrapper .form-image .images {
  width: 90%;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}
.form-wrapper .form-image .file-item {
  background: var(--white);
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}

.form-wrapper .form-image .file-item img {
  width: 100%;
  border-radius: 6px;
  height: 100px;
  object-fit: cover;
}

.form-wrapper .form-image .file-item .file-name {
  margin-top: 5px;
  font-size: 14px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.form-wrapper .form-image .file-item .file-size {
  color: var(--gray);
  font-size: 13px;
  font-style: italic;
}

.form-wrapper .form-image .file-item button {
  margin-top: 5px;
  background: transparent;
  border: none;
  color: var(--purple);
  cursor: pointer;
}
/*upload end image */

/* detail-product */
.detail-product {
  font-family: var(--inter);
  margin: 32px;
  background: var(--light);
  border-radius: 12px;
  padding: 25px 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

  position: relative;
}

.detail-product .detail-product-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0;
}

.detail-product .detail-product-header h2 {
  font-size: 24px;
  color: var(--dark);
}

.detail-product .detail-product-header button {
  padding: 10px 18px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s ease;
}
.detail-product .detail-product-header .btn-cancel {
  background: var(--dark-grey);
  color: var(--dark);
}

.detail-product .detail-product-content h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.detail-product .detail-product-section {
  padding: 12px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.detail-product .detail-product-section:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.detail-product .detail-product-label {
  width: 100px;
  font-weight: 600;
  color: var(--dark-gray);
}

.detail-product .detail-product-value {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  color: var(--gray);
}

.actions {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.detail-product .detail-product-section .product-img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  object-fit: cover;
}

.detail-product .detail-product-section .category-icon {
  background: var(--grey);
  color: var(--green);
  border-radius: 50%;
  padding: 6px;
  font-size: 16px;
}

.detail-product .detail-product-value .small {
  font-size: 12px;
  color: var(--gray);
  display: block;
}

/*end detail-product */
/*end Create Product */

/* SETTING */

.setting .section {
  font-family: var(--inter);
  margin: 20px;
  background: var(--light);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  padding: 18px 32px;
}

.setting .section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--gray);
}

.setting .items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.setting .item {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
  background: var(--grey);
  padding: 15px 20px;
  border-radius: 8px;
  min-width: 250px;
  flex: 1 1 250px;
  transition: background 0.2s ease;
}

.setting .item:hover {
  background: var(--dark-grey);
}

.setting .item i {
  font-size: 28px;
  margin-right: 15px;
  color: var(--dark-gray);
  flex-shrink: 0;
  margin-top: 3px;
}

.setting .item-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  color: var(--gray);
}

.setting .item-desc {
  font-size: 14px;
  color: var(--dark-gray);
}

/*END SETTING */
