@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-one: #252a2b;
  --color-background: #f2f2fe;
  --while: #ffffff;
  --color-title: #1e1e1e;
  --color-text: #777777;
  --grey: #eee;
  --light-grey: #dfe0e1;
  --light-gray: #fefefe;
  --red: #c90427;
  --medium-red: #ee4d2d;
  --light-red: #feeeea;
  --gray: #333;
  --grass: #0a7937;
  --medium-green: #3ce68d;
  --green: #228b22;
  --light-green: #d1fae5;
  --light-green: #d1fae5;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;

  --font-one: 'Quicksand', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-one);
}
/* header */
.header__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  font-family: var(--font-one);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header__logo {
  height: 50px;
}

.header__logo img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.header__nav {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header__nav li {
  margin: 0px 12px;
  padding: 20px 0;
}

.header__nav li a {
  text-decoration: none;
  color: var(--color-one);
}

.header__box {
  display: flex;
  padding: 0 15px;
}

.header__icon {
  font-size: 23px;
  padding: 0 10px;
}

/* ===== DROPDOWN MENU NHIỀU CẤP ===== */
.header__nav li {
  position: relative;
}

.header__nav li ul.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 180px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  display: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.header__nav li ul.dropdown li {
  padding: 0;
}

.header__nav li:hover > ul.dropdown {
  display: block;
}

/* Cấp 2 trở đi */
.header__nav li ul.dropdown li {
  position: relative;
}

.header__nav li ul.dropdown li ul.dropdown {
  top: 0;
  left: 100%;
}

/* Item trong dropdown */
.header__nav li ul.dropdown li a {
  display: block;
  padding: 10px 16px;
  color: var(--color-one);
  text-decoration: none;
  transition: background 0.2s ease;
  white-space: nowrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header__nav li ul.dropdown li:last-child a {
  border-bottom: none;
}

.header__nav li ul.dropdown li a:hover {
  background-color: var(--light-blue);
}

/* Icon chỉ submenu
.header__nav li ul.dropdown li > a::after {
  content: '▶';
  float: right;
  font-size: 12px;
  margin-left: 8px;
  opacity: 0.6;
}

.header__nav li ul.dropdown li:not(:has(ul)) > a::after {
  content: '';
} */

/* Bo góc và responsive */
.header__nav li ul.dropdown {
  border-radius: 4px;
}

@media (max-width: 768px) {
  .header__nav {
    flex-direction: column;
  }

  .header__nav li ul.dropdown {
    position: static;
    box-shadow: none;
    background-color: transparent;
  }

  .header__nav li ul.dropdown li a {
    color: var(--color-one);
  }
}

/* end header */

/* footer */

.footer {
  font-family: var(--font-one);
}
.footer__top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__inner {
  padding: 0 85px;
  color: var(--color-one);
}

.footer__title {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 20px;
}

.footer__content {
  font-size: 14px;
  margin: 0 0 10px;
  text-align: justify;
}

.footer__part {
  display: flex;
}
.footer__icon {
  margin-right: 8px;
}
.footer__image {
  width: 150px;
  height: 57px;
  margin-bottom: 20px;
}

.footer__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__bottom {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  color: var(--color-one);
}

/* end footer */

/* hero */

.hero {
  padding: 80px 0;
}
.hero__thumbnail {
  width: 100%;
  height: 500px;
}

.hero__thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__list {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
}

.hero__image {
  flex: 1;
  padding: 6px 3px 0;
}

.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
}

.control.prev {
  left: 20px;
}

.control.next {
  right: 20px;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* end hero */

/* box-head */
.box-head {
  font-family: var(--font-one);
  padding: 50px 0;
}

.box-head__title {
  padding: 0 85px;
  text-align: center;
  color: var(--color-one);
  font-size: 37px;
}
/* end box-head */

/* product-grid */

.product__grid a {
  text-decoration: none;
  color: inherit;
}
.product__item {
  width: auto;
  margin: 0 0 10px;
  padding: 0 15px;
  font-family: var(--font-one);
}

.product__image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s;
}

.product__image:hover img {
  transform: scale(1.2);
}

.inner-featured {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: var(--while);
  color: var(--color-text);
  font-size: 14px;
  padding: 2px 8px;
  border-radius: 1px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.product__content {
  padding: 20px 0;
}

.product__title {
  font-size: 14px;
  color: var(--color-title);
}

.product__price {
  font-size: 14px;
  color: var(--color-one);
}

.product__discount {
  padding: 2px;
  background-color: #ffe6f0;
  color: red;
  font-size: 12px;
  margin-left: 5px;
}
/*

end product-grid */

/* product detail */

.detail-product-wrapper {
  padding: 30px 30px;
  background: var(--while);
}
.detail-product-image {
  width: 100%;
  height: 450px;
}

.detail-product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-product-content .detail-product-title h1 {
  font-size: 25px;
  padding-bottom: 10px;
  font-weight: bold;
  margin: 0;
}
.detail-product-price,
.detail-product-content .detail-product-title {
  border-bottom: 1px solid var(--light-grey);
}

.detail-product-price {
  background: var(--color-background);
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.detail-product-price .detail-product-new-price {
  font-size: 30px;
  color: var(--red);
  font-weight: 600;
}

.detail-product-price .detail-product-old-price {
  font-size: 16px;
  color: var(--color-text);
  margin-left: 10px;
  font-weight: 600;
  text-decoration: line-through;
}
.detail-product-price .detail-product-discount {
  font-size: 12px;
  color: var(--medium-red);
  background-color: var(--light-red);
  padding: 2px 4px;
  margin-left: 10px;
  border-radius: 4px;
}

.detail-product-quantity {
  display: flex;
  align-items: center;
  border: 1px solid var(--grey);
  width: fit-content;
  margin: 20px 0;
}

.detail-product-quantity .quantity-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  cursor: pointer;
  user-select: none;
  font-size: 20px;
}

.detail-product-quantity .quantity-display {
  width: 70px;
  height: 32px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--dark);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.quantity-btn:hover {
  background-color: #eaeaea;
}

.detail-product-action {
  display: flex;
  gap: 12px;
}

.detail-product-action .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
  min-width: 180px;
  box-sizing: border-box;
}

.detail-product-action .btn-cart {
  color: var(--grass);
  background-color: var(--light-green);
  border: 1px solid var(--grass);
}

.detail-product-action .btn-cart i {
  margin-right: 8px;
  font-size: 20px;
}

.detail-product-action .btn-cart:hover {
  background-color: var(--medium-green);
}

.detail-product-action .btn-buy {
  color: var(--while);
  background-color: var(--grass);
  border: 1px solid var(--grass);
}

.detail-product-action .btn-buy:hover {
  background-color: var(--green);
}

/* end product detail */
