extends ../../layout/default.pug
include ../../mixins/notyf.pug

block content
  +notyfSuccess(messages.success && messages.success[0])
  +notyfError(messages.error && messages.error[0])
  
  div toàn đẹp trai