extends ../../layout/default.pug
include ../../mixins/client/box-head.pug

block content
  include ../../partials/hero.pug
  +box-head('sản phẩm mới')
  .product__grid
     .container 
        .row  
          each item in products
            .col-3.mb-3
              .product__item
                .product__image 
                  img(src= item.thumbnail, alt= item.title)
                .product__content 
                  .product__title 
                    p #{item.title}
                  .product__expense 
                    span.product__price #{item.price}đ
                    span.product__discount #{item.discountPercentage}%



