extends ../../../layout/auth.pug 
include ../../../mixins/alert.pug




block content
  main
    +alert-error(7000)
    +alert-success(5000)
    
    .login
      .wrapper
        form(
          action=`${prefixAdmin}/auth/login`,
          method="POST",
          )
          h1 Đăng nhập
          .input-box
            input(type="text" placeholder="email" id='email' name='email' required)
            i.bx.bxs-user
          .input-box
            input(type="password" placeholder="Password" id='password' name='password' required)
            i.bx.bxs-lock-alt
          .remember-forgot
            label
              input(type="checkbox")
              | lưu mật khẩu
            a(href="#") Quên mật khẩu
          button.btn(type="submit") Đăng nhập
          .register-link
            p
              | chưa có tài khoản?
              a(href="#") Đăng ký
