mixin modal()
  .modal#modal
    .modal-content
      i.bx.bx-error-circle.icon
      h2 Xóa bản ghi
      p Bạn có chắc chắn muốn xóa bản ghi này ?
      .modal-buttons
        button.btn-confirm(button-confirm)
          i.bx.bx-trash
          span  Đồng ý
        button.btn-cancel(button-cancel)
          i.bx.bx-x
          span  Hủy bỏ