extends ../../../layout/default.pug
include ../../../mixins/notyf.pug

block content
  +notyfSuccess(messages.success && messages.success[0])
  +notyfError(messages.error && messages.error[0])

  .register
    // LEFT FORM
    .form-register
      .logo
        i.bx.bxs-circle
        span ToanDecor

      h2 Đặt lại mật khẩu mới

      form(action='/user/password/reset' method='POST')
        //- // Nếu dùng token trong URL, cần thêm input hidden
        //- input(type="hidden", name="token", value=token)

        label(for='password') Mật khẩu mới
        .password-box
          input(type="password", id='password', name='password', placeholder="Nhập mật khẩu mới", required)

        label(for='confirmPassword') Xác nhận mật khẩu
        .password-box
          input(type="password", id='confirmPassword', name='confirmPassword', placeholder="Nhập lại mật khẩu", required)

        button.submit-btn(type="submit") Đặt lại mật khẩu

    // RIGHT INFO
    .info-box
      .overlay
        .text
          h3 Chạm tới thiên nhiên theo cách thật đơn giản
          p Chào mừng bạn đến với ToanDecor – nơi những chậu cây nhỏ mang lại sức sống lớn cho không gian của bạn.
