mixin box-content(title, keyword)
  .box-content 
    h1.box-title #{title}
    if keyword
      p.box-text Không tìm thấy #[strong #{keyword}]. Vui lòng kiểm tra chính tả, sử dụng các từ tổng quát hơn và thử lại!

