doctype html
html(lang="vi")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 404 | ToanDecor
    link(href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet")
    link(rel="stylesheet", href="/css/404.css")

  body
    .background
      .circle.blue
      .circle.pink
      .circle.purple

    main.notfound
      h1 404
      h2 Trang không tồn tại
      p Xin lỗi, ToanDecor không tìm thấy trang bạn yêu cầu.
      button.btn(onclick="history.back()")
        i.bx.bx-arrow-back
        |  Trở lại
      footer © 2025 ToanDecor. All rights reserved.

