extends ../../layout/default.pug 



block content
  main
    .setting
      //- Tiền tệ
      .section
        .section-title Tiền tệ
        .row.items
          a.item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12(href="#")
            i.bx.bx-money
            div
              .item-title Tiền tệ
              .item-desc Thiết lập tiền tệ của hệ thống
          a.item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12(href="#")
            i.bx.bxs-bank
            div
              .item-title Cổng thanh toán
              .item-desc Thiết lập cổng thanh toán

      //- Tài khoản
      .section
        .section-title Tài khoản
        .row.items
          a.item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12(href="#")
            i.bx.bxs-user-account
            div
              .item-title Danh sách tài khoản
              .item-desc Thiết lập tài khoản
          a.item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12(href=`${prefixAdmin}/role`)
            i.bx.bx-group
            div
              .item-title Nhóm quyền
              .item-desc Thiết lập nhóm quyền
          a.item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12(href="#")
            i.bx.bxs-user-detail
            div
              .item-title Phân quyền
              .item-desc Thiết lập phân quyền
          a.item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12(href="#")
            i.bx.bx-edit-alt
            div
              .item-title Duyệt bài viết
              .item-desc Thiết lập quyền duyệt bài viết

      //- Hệ thống
      .section
        .section-title Hệ thống
        .row.items
          a.item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12(href="#")
            i.bx.bx-code-block
            div
              .item-title Đổi chế độ
              .item-desc Thay đổi chế độ website
          a.item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12(href="#")
            i.bx.bx-trash
            div
              .item-title Xóa Cache
              .item-desc Xóa bộ nhớ lưu trữ tạm thời của website
          a.item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12(href="#")
            i.bx.bx-git-branch
            div
              .item-title Chuyển hướng
              .item-desc Chuyển hướng đường dẫn website
