extends ../../layout/default.pug


block content
  section.about
    .container
      h2.section-title Giới thiệu về Toàn Decor
      p.section-subtitle Green Your Home - Không gian xanh cho mọi nhà
      .about-content
        p.
          Toàn Decor hân hạnh mang đến cho quý khách hàng những dịch vụ và sản phẩm cây xanh chất lượng nhất.
        p.
          Chúng tôi hoạt động với mong muốn đem đến cho khách hàng trải nghiệm tốt nhất với đầy đủ các tiêu chí: Cây xanh chất lượng - Dịch vụ hài lòng - Giá cả hợp lý.
      h3 Hoạt động chính
      ul.about-list
        li Cung cấp các loại cây xanh: cây cảnh nội thất, cây xanh văn phòng, cây quà tặng...
        li Thiết kế cây xanh cho không gian của bạn
        li Hỗ trợ thực hiện các buổi Workshop theo yêu cầu
      h3 Đối tác tiêu biểu
      p.
        Kể từ khi hoạt động, Toàn Decor đã trở thành đối tác của nhiều đơn vị như Smart OSC, Hyundai Glovis, Isocert, Grab Ventures Ignite, Sonha Auto,...
      h3 Thông tin liên hệ
      ul.contact-info
        li Hotline: 0355.115.716
        li Email: toanvu1728@gmail.com
        li Facebook/Instagram: @toandecor.vn
        li Shopee: shopee.vn/toandecor.vn
        li Hệ thống cửa hàng:
          ul
            li Cơ sở 1: Số 123 Phố Xanh, Phường Lá, Quận Cây, Hà Nội
            li Cơ sở 2: Số 45 Ngõ Vườn, Phường Thảo, Quận Hoa, Hà Nội
            li AEON Long Biên - Tầng 1 (cạnh Dalat Hasfarm)
            li AEON Mall Hà Đông - Tầng 3 - Khu đồ gia dụng
