nav 
  i(class="bx bx-menu")
  .form-placeholder
  input(type="checkbox" id="switch-mode" hidden) 
  label(for="switch-mode" class="switch-mode" )
  a(href="/admin" class="notification")
    i(class="bx bxs-bell")
    span.num 8
  a(href="/admin" class="profile")
    img(src="/admin/images/people.png", alt="img-profile")   